header {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-size: 24px;
  border: 2px solid black;
  width: 30%;
  padding:20px;
  margin-left: auto;  
  margin-right: auto  ;
}

.option {
  margin: 10px 0px;
  padding: 10px 20px;
  border: 3px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

#easy {
  background-color: lawngreen;
}

#medium {
  background-color: yellow;
}

#hard {
  background-color: red;
} 

#custom {
  background-color: skyblue;
}

.option:hover {
  background-color: #ccc;
}